
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
venv/
.venv/
env/


# IDE
.vscode/

# Lambda packaging
lambda_function.zip

# Sensitive files
*.pem
*.key
.env

# OS
.DS_Store
Thumbs.db
